@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    background:#111;
    display:flex;
    justify-content: center;
    min-height: 100vh;
}
.list{
    background: #fff;
    position: relative;
    width: 350px;
}
.list h2{
    background: #03a9f4;
    color: #fff;
    padding: 10px 20px;
}
.list ul{
    position: relative;
    padding: 20px;
}
.list ul li{
    border-bottom: 2px solid rgba(0,0,0,0.1);
    padding: 15px 0;
    position: relative;
    list-style-type: none;
}
.list ul li:last-child{
    border-bottom: none;
}
.list ul li label{
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.list ul li label input{
    appearance: none;
    visibility: hidden;
}
.list ul li label p{
    position: absolute;
}
.list ul li label span{
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    height: 20px;
    position: relative;
    justify-content: center;
    width: 20px;   
}
.list ul li label span:before{
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    content:'';
    height: 5px;
    position: absolute;
    top: 5px;
    transform: rotate(-40deg);
    width: 10px;
}
.list ul li label input:checked ~ p{
    color: #ccc;
    text-decoration: line-through;
}
.list ul li label input:checked ~ span{
    background: #03a9f4;
    border: 1px solid #03a9f4;
}
.list ul li label input:checked ~ span::before{
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}